.product-list__header {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
}

#ch {
  display: none;
}

.ch__list-toggle {
  display: block;
  border-radius: 20px;
  background-color: #dbedf3;
  width: 70px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.ch__list-toggle::before {
  content: "";
  width: 40px;
  height: 100%;
  display: inline-block;
  background-color: #7F7F7F;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s ease-in;
}

#ch:checked ~ .ch__list-toggle::before {
  transform: translateX(50%);
}

.ch__list-toggle::after {
  content: "Grid";
  font-family: Poppins;
  font-size: 19px;
  position: absolute;
  top: 20%;
  right: 100%;
  margin-right: 15px;
  color: #7F7F7F;
}

#ch:checked ~ .ch__list-toggle {
  filter: invert(100%);
}

#ch:checked ~ .ch__list-toggle::after {
  content: "Table";
}/*# sourceMappingURL=ProductList.css.map */