@charset "UTF-8";
.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
  transition: border-color 0.3s, box-shadow 0.3s; /* плавний перехід */
}
.button:hover {
  border-color: #646cff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* тінь при наведенні */
  background-color: #333333;
}
.button:active {
  transform: translate(2px, 2px); /* зміна положення на 2px вниз та 2px вправо */
  transition: transform 0.1s; /* плавний перехід */
}
.button:focus, .button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.button.button--violet {
  background-color: #8A33FD;
}
.button.button--violet:hover {
  background-color: #a663fe;
}
.button.button--white {
  background-color: transparent;
  border-color: #333333;
  color: #8A33FD;
}
.button.button--white:hover {
  border-color: #646cff;
  background-color: #d3b4fc;
}/*# sourceMappingURL=Button.css.map */