.orders__title {
  font-size: 1.4rem;
}

.orders__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 1.5rem;
  margin-top: 1.5rem;
}
.orders__container .orders__item {
  display: grid;
  grid-template-columns: 22% 24% 53%;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  font-size: 1.1rem;
  width: 100%;
  border: 1px solid grey;
  padding: 0.5rem;
  box-sizing: border-box;
}
.orders__container .orders__item span {
  color: gray;
}
.orders__container .orders__item .orders__item--container {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 0.4rem;
}
.orders__container .orders__item .orders__item--container .orders__item--product {
  display: flex;
  align-items: start;
  gap: 1rem;
}/*# sourceMappingURL=OrdersPage.css.map */