.orders__title {
    font-size: 1.4rem;
}

.orders__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 1.5rem;
    margin-top: 1.5rem;

    .orders__item {
        display: grid;
        grid-template-columns: 22% 24% 53%;
        column-gap: 0.5rem;
        font-size: 1.1rem;
        width: 100%;
        border: 1px solid grey;
        padding: 0.5rem;
        box-sizing: border-box;

        & span {
            color: gray;
        }

        .orders__item--container {
            display: flex;
            flex-direction: column;
            align-items: start;
            row-gap: 0.4rem;

            .orders__item--product {
                display: flex;
                align-items: start;
                gap: 1rem;
            }
        }
    }
}