.product-list__table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-list__table th, .product-list__table td {
  border: 1px solid #f5f7fa;
  padding: 8px;
  text-align: left;
}

.product-list__table th {
  background-color: #191919;
  font-weight: bold;
}

.product-image {
  width: 30px;
  height: auto;
  cursor: pointer;
}/*# sourceMappingURL=ProductListTable.css.map */