.modal-second {
  height: 558px;
  border-color: #646cff;
}
.modal-second .modal-header__img {
  background-color: #f5f7fa;
  width: 276px;
  height: 140px;
  flex-shrink: 0;
}/*# sourceMappingURL=ModalDeleteFromBasket.css.map */