.product-list__table button {
  stroke: #646cff;
  padding: 2px 6px;
}
.product-list__table button svg {
  width: 24px;
  height: 24px;
  stroke: inherit;
}

.product-list__table button.isFavorited {
  stroke: #ff69b4;
}/*# sourceMappingURL=ProductTableRow.css.map */