@import "../../styles/styles.scss";

.product-list__table button {
    stroke: $blueBorder;
    padding: 2px 6px;

    & svg {
        width: 24px;
        height: 24px;
        stroke: inherit;
    }  
}

.product-list__table button.isFavorited {
    stroke: $favoritedPink;
}
