@charset "UTF-8";
.product-list__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 20px;
}
@media (max-width: 1320px) {
  .product-list__cards {
    grid-template-columns: repeat(4, 1fr);
    /* 4 картки в ряду */
  }
}
@media (max-width: 900px) {
  .product-list__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 700px) {
  .product-list__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .product-list__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}/*# sourceMappingURL=ProductListCard.css.map */