.basketpage__title-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  line-height: 1.5rem;
}/*# sourceMappingURL=BasketPage.css.map */