.product-card {
  width: 180px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #646cff;
}
.product-card .product-card_icons {
  display: flex;
}
.product-card .product-card_icons button {
  padding: 2px 6px;
  stroke: #646cff;
}
.product-card .product-card_icons svg {
  width: 16px;
  height: 16px;
  stroke: inherit;
}
.product-card .product-card_icons .isFavorited {
  stroke: #ff69b4;
}
.product-card .product-card_img {
  width: 120px;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-card .product-card_title {
  font-size: 1.3rem;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #d3b4fc;
}
.product-card .product-card_description {
  color: #7F7F7F;
}/*# sourceMappingURL=Card.css.map */