.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(41, 2, 68, 0.4);
}

.modal-box {
  max-width: 80vw;
  max-height: 80vw;
  margin: 0 auto;
  padding: 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 10px;
  border: 1px solid #646cff;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.87);
  background-color: #f5f7fa;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 200;
  transform: translate(-50%, -50%);
}
.modal-box .modal-header {
  color: #191919;
  font-family: Inter;
  font-size: 2em;
}
.modal-box .modal-header__img {
  background-color: #f5f7fa;
  width: 240px;
  height: 240px;
  flex-shrink: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.modal-box .modal-body {
  color: #7F7F7F;
  text-align: center;
  font-family: Roboto;
  font-size: 1.5em;
  font-weight: 500;
}
.modal-box .modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}/*# sourceMappingURL=ModalBase.css.map */