@charset "UTF-8";
.form-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  row-gap: 5px;
  box-sizing: border-box;
  width: 100%;
}
.form-item .input-container {
  display: grid;
  grid-template-columns: 30% 67.5%;
  -moz-column-gap: 2.5%;
       column-gap: 2.5%;
  box-sizing: border-box;
  width: 100%;
}
.form-item .form-label {
  align-self: center;
}
.form-item .error-message {
  color: red;
  font-size: 0.8rem;
  grid-column: 1/-1; /* Займає весь рядок */
}

.form-item.has-validation .input-container input {
  border: 1px solid red;
}

.select-placeholder {
  color: grey;
  font-size: 0.8rem;
}/*# sourceMappingURL=Input.css.map */